.features-container {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  padding: 5vw 9.883vw;
}
.featurs-text {
  margin: 0 !important;
  font-size: 5rem;
  color: var(--black);
  font-weight: 300;
}
.featurs-text::after {
  content: "    Features";
  font-size: 5rem;
  color: var(--main-color);
  font-weight: 400;
  margin-left: 1vw;
}
.features-describtion {
  line-height: 1.5rem;
  max-width: 400px;
  text-align: center;
}
.features-card-container {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-bottom: 5vh;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .features-card-container {
    flex-wrap: wrap;
    padding: 0 3vw;
  }
  .featurs-text,
  .featurs-text::after {
    font-size: 3rem;
  }
}
