.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;
}
:root {
  --main-color: #25a4ad;
  --green: #45ec9c;
  --black: #313131;
  --yellow: #ffc229;
  --secondary-color: #f8f8f8;
}
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.container {
  padding: 5vh 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 5vh 0;
    /* max-width: 95vw; */
    overflow: hidden;
    margin-right: 0;
  }
}
h1,
h2,
h3 {
  margin: 0;
}
h3 {
  font-size: 1.3rem;
}
